# Зависимости Node.js
node_modules/

# Папки сборки и выходных данных
build/
dist/
docs/

# Файлы конфигурации среды
.env

# Файлы macOS
.DS_Store


# Логи npm и yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Другие временные файлы
*.log
.cache/
.temp/

# Системные файлы
Thumbs.db
